<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>
		
	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			// console.log("Doc is ready")
			// $.getJSON(url,()=>{
				// $('#movie').val();

			// })
		})
		// $.getJSON(url)
		// $.ajax({
		// 	method: 'get',
		// 	data: data,
		// 	successCallback: ()=>{

		// 	}
		// })
		// $.ajax({
		//   dataType: "json",
		//   url: url,
		//   data: data,
		//   success: success,
		//   method: "post"
		// });		

		myApp = angular.module('myApp',[]);
		myApp.controller('myController',function($scope){
			$scope.test = "THI IS A TEST!!!"
		})

	</script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-controller="myController">

	<li ng-model="test">{{test}}</li>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">

<!-- 			<% var a="<h1>This is an H1</h1>"; %>
				<%- a %>
				<%= a %> -->
				<!-- %= is like $('body').text() -->
				<!-- %- is like $('body').html() -->

				<form action="/search?key=pumpkin" method="post" id="search-form" class="form-inline">
					<input type="text" id="movie" placeholder="Movie Title" name="movieSearch" />
					<input type="text" placeholder="Actor Name" name="actorSearch" />
					<input type="submit" class="btn btn-primary" />
				</form>
				<input type="text" name="haha" />
			</div>
<!-- 		If I do < % without an = sign, it means RUN THIS
		If I do < %= it means, PRINT this to the window.document -->
			<div class="col-sm-12">
				<% for(let i = 0; i < parsedData.length; i++){ %>
					<div class="col-sm-3">
						<a href="/movie/<%=parsedData[i].id%>">
							<img src="<%= imageBaseUrl + parsedData[i].poster_path %>" />
						</a>
					</div>
				<% } %>
			</div>
		</div>
	</div>

</body>
</html>