<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<form action="/search?key=pumpkin" method="post" id="search-form" class="form-inline">
					<input type="text" placeholder="Movie Title" name="movieSearch" />
					<input type="text" placeholder="Actor Name" name="actorSearch" />
					<input type="submit" class="btn btn-primary" />
				</form>
				<input type="text" name="haha" />
			</div>
			<div class="col-sm-12">
				<% for(let i = 0; i < parsedData.length; i++){ %>
					<div class="col-sm-3">
						<img src="<%= imageBaseUrl + parsedData[i].poster_path %>" />
					</div>
				<% } %>
			</div>
		</div>
	</div>

</body>
</html>